<div class="form_block pt-0" data-controller="insert-in-list">
  <div class="container">
    <div class="form_question mb-5 mt-0">
      <div class="row mb-5">
        <h2>Your choices</h2>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <div class="index-title mb-3">
            <h6>Add a relevant address to you, like your work or a family member's house.</h6>
          </div>
          <%= form_tag(preferences_edit_path(current_user.id), method: :patch,
                data: {insert_in_list_target: "form", action: "submit->insert-in-list#send"}) do -%>
            <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
              <%= search_field_tag 'important_addresses', nil,
                class: 'd-none',
                placeholder: "Give us an important address",
                data: { address_autocomplete_target: "address" }
              %>
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3">
              <h6 class="text-center small-title">Important addresses:</h6>
            </div>
            <ul class="bullets" data-insert-in-list-target="items">
              <% current_user.important_addresses.each do |address| %>
                <li><i data-feather="map-pin" class="pins"></i><%= address %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="form_question">
        <h5>Do you need these nearby?</h5>
        <p>Rate on a scale of 1 to 5.</p>
        <div class="options_grid">
          <div class="option">
            <p>Supermarkets</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'supermarkets_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.supermarkets_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
          <div class="option">
            <p>Schools</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'schools_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.schools_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
        </div>
        <div class="options_grid">
          <div class="option">
            <p>Restaurants</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'restaurants_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.restaurants_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
          <div class="option">
            <p>Public transport</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'transportation_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.transportation_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
        </div>
        <div class="options_grid">
          <div class="option">
            <p>Nightlife</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'nightlife_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.nightlife_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
          <div class="option">
            <p>Gyms</p>
            <div class="range-wrapper" data-controller="slider-value">
              <%= range_field_tag 'gyms_score', options_for_select(1..5), as: :range, type:'range', class:'form_label form-range slider_rating', min:'1', max:'5', step:'1', value: current_user.gyms_score, data:{slider_value_target:"range", action:"input->slider-value#setBubble"} %>
              <output class="bubble" data-slider-value-target="bubble"></output>
            </div>
          </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="submit align-self-center">
            <%= submit_tag 'Save', class: 'btn btn-primary btn-lg', data: {controller: "dashboard", action:"click->dashboard#save"} %>
          </div>
        </div>
      <% end -%>
    </div>
