<%= link_to search_path(search), class: "card-link" do%>
  <div class=" card-product">
    <div class="card-product-infos">
      <% location = search.location.address.split(", ") %>
      <h5><%= location[0] %></h5>
      <h6><%= location[1] %></h6>
    </div>
  <div class="d-flex align-items-center">
    <div class="flex-container align-items-center">
      <div class="flex-item fa-solid"><i class="fa-solid fa-utensils heart" style="<%= search.restaurants_score > 3 ? "color: green" : search.restaurants_score <= 3 && search.restaurants_score > 0 ? "color: gray" : "color: red"%>"></i></div>
      <div class="flex-item fa-solid"><i class="fa-solid fa-cart-shopping heart" style="<%= search.supermarkets_score > 3 ? "color: green" : search.supermarkets_score <= 3 && search.supermarkets_score > 0 ? "color: gray" : "color: red"%>"></i></div>
      <div class="flex-item fa-solid"><i class="fa-solid fa-pencil heart" style="<%= search.schools_score > 3 ? "color: green" : search.schools_score <= 3 && search.schools_score > 0 ? "color: gray" : "color: red"%>"></i></div>
      <div class="flex-item fa-solid"><i class="fa-solid fa-tree heart"  style="<%= search.parks_score > 3 ? "color: green" : search.parks_score <= 3 && search.parks_score > 0 ? "color: gray" : "color: red"%>"></i></div>
      <div class="flex-item fa-solid"><i class="fa-solid fa-moon heart"  style="<%= search.nightlife_score > 3 ? "color: green" : search.nightlife_score <= 3 && search.nightlife_score > 0 ? "color: gray" : "color: red"%>"></i></div>
      <div class="flex-item fa-solid"><i class="fa-solid fa-train-subway heart"  style="<%= search.transportation_score > 3 ? "color: green" : search.transportation_score <= 3 && search.transportation_score > 0 ? "color: gray" : "color: red"%>"></i></div>
    </div>
    <div class="fa-solid ms-5">
      <i class="fa-regular fa-heart heart heart"></i>
    </div>
  </div>
</div>
<% end %>
