<%= render "shared/navbar_black" %>
<div class="search">
  <div class="pro-cons-title">
    <% location = @search.location.address.split(", ") %>
    <h2><%= location[0] %></h2>
    <h4><%= location[1] %></h4>
  </div>
  <div class ="map_card_grid">
    <div class="map-show"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="cards">
      <div class="<%= @search.restaurants_score > 3 ? "card-score pro row" : @search.restaurants_score <= 3 && @search.restaurants_score > 0 ? "card-score row" : "card-score con row"%>">
        <i class="fa-solid fa-utensils"></i>
        <div>
          <h2>Restaurants</h2>
          <% if @search.restaurants_score > 3 %>
            <p>There are lots of restaurants around this place. Sweet!</p>
          <% elsif @search.restaurants_score <= 3 && @search.restaurants_score > 0 %>
            <p>There are some restaurants around.</p>
          <% else %>
            <p>There are no restaurants in the area.</p>
          <% end %>
        </div>
      </div>
      <div class="<%= @search.supermarkets_score > 3 ? "card-score pro row" : @search.supermarkets_score <= 3 && @search.supermarkets_score > 0 ? "card-score row" : "card-score con row"%>">
        <i class="fa-solid fa-cart-shopping"></i>
        <div>
          <h2>Supermarkets</h2>
          <% if @search.supermarkets_score > 3 %>
            <p>Great! There are grocery stores nearby.</p>
          <% elsif @search.supermarkets_score <= 3 && @search.supermarkets_score > 0 %>
            <p>There are not many grocery stores.</p>
          <% else %>
            <p>No grocery stores around.</p>
          <% end %>
        </div>
      </div>
      <div class="<%= @search.schools_score > 3 ? "card-score pro row" : @search.schools_score <= 3 && @search.schools_score > 0 ? "card-score row" : "card-score con row"%>">
        <i class="fa-solid fa-pencil"></i>
        <div>
          <h2>Schools</h2>
          <% if @search.schools_score > 3 %>
            <p>Many schools nearby, how lucky!</p>
          <% elsif @search.schools_score <= 3 && @search.schools_score > 0 %>
            <p>There are a couple schools around here.</p>
          <% else %>
            <p>No schools in this neighborhood.</p>
          <% end %>
        </div>
      </div>
      <div class="<%= @search.parks_score > 3 ? "card-score pro row" : @search.parks_score < 0 ? "card-score con row" : "card-score row"%>">
        <i class="fa-solid fa-tree"></i>
        <div>
          <h2>Parks</h2>
          <% if @search.parks_score > 3 %>
            <p>A lot of parks around. Nature time!</p>
          <% elsif @search.parks_score <= 3 && @search.parks_score > 0 %>
            <p>This area has some parks.</p>
          <% else %>
            <p>No parks here, unfortunately.</p>
          <% end %>
        </div>
      </div>
      <div class="<%= @search.nightlife_score > 3 ? "card-score pro row" : @search.nightlife_score <= 3 && @search.nightlife_score > 0 ? "card-score row" : "card-score con row"%>">
        <i class="fa-solid fa-moon"></i>
        <div>
          <h2>Nightlife</h2>
          <% if @search.nightlife_score > 3 %>
            <p>Lots of fun options here!</p>
          <% elsif @search.nightlife_score <= 3 && @search.nightlife_score > 0 %>
            <p>There are a couple options nearby.</p>
          <% else %>
            <p>Not a busy nightlife around here.</p>
          <% end %>
        </div>
      </div>
      <div class="<%= @search.transportation_score > 3 ? "card-score pro row" : @search.transportation_score <= 3 && @search.transportation_score > 0 ? "card-score row" : "card-score con row"%>">
        <i class="fa-solid fa-train-subway"></i>
        <div>
          <h2>Public transportation</h2>
          <% if @search.transportation_score > 3 %>
            <p>Lots of options, you can get where you need!</p>
          <% elsif @search.transportation_score <= 3 && @search.transportation_score > 0 %>
            <p>There are ways to get around.</p>
          <% else %>
            <p>No public transport close by.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
