<%= render "shared/navbar_black" %>
<div class="search">
  <div class="pro-cons-title">
    <% location = @search.location.address.split(", ") %>
    <h2><%= location[0] %></h2>
    <h4><%= "#{location[1]}, #{location[2]}" %></h4>
  </div>
  <div class ="map_card_grid">
    <div class="map-show"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="cards">
      <%= render "searches/categories/restaurants" %>
      <%= render "searches/categories/supermarkets" %>
      <%= render "searches/categories/schools" %>
      <%= render "searches/categories/transportation" %>
      <%= render "searches/categories/gyms" %>
      <%= render "searches/categories/nightlife" %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
