<%= render "shared/navbar_black" %>
<div class="search">
  <div class="pro-cons-title">
    <h2><%= @search.location.address %></h2>
    <h4>1012 DE Amsterdam</h4>
  </div>
  <div class ="map_card_grid">
    <div class="map-show">
      <div style="width: 100%; height: 450px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

    <div class="cards">
      <div class="card-product pro row">
        <i class="fa-solid fa-graduation-cap col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Restaurants</h2>
          <% if @search.restaurants_score > 0 %>
            <p>There are lots of restaurants around this place. Sweet!</p>
          <% elsif @search.restaurants_score == 0 %>
            <p>There are some restaurants around.</p>
          <% else %>
            <p>There are no restaurants in the area.</p>
          <% end %>
        </div>
      </div>
      <div class="card-product con row">
        <i class="fa-solid fa-utensils col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Supermarkets</h2>
          <% if @search.supermarkets_score > 0 %>
            <p>Great! There are grocery stores nearby.</p>
          <% elsif @search.restaurants_score == 0 %>
            <p>There are not many grocery stores.</p>
          <% else %>
            <p>No grocery stores around.</p>
          <% end %>
        </div>
      </div>
      <div class="card-product row">
        <i class="fa-solid fa-car col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Parking</h2>
          <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nostrum ab nesciunt illum excepturi, praesentium sed, eaque ea laudantium quae totam tenetur non consequuntur asperiores corrupti error voluptate, a incidunt cum.</p>
        </div>
      </div>
      <div class="card-product row">
        <i class="fa-solid fa-tree col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Nature</h2>
          <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nostrum ab nesciunt illum excepturi, praesentium sed, eaque ea laudantium quae totam tenetur non consequuntur asperiores corrupti error voluptate, a incidunt cum.</p>
        </div>
      </div>
      <div class="card-product row">
        <i class="fa-solid fa-train-subway col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Travel to work</h2>
          <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nostrum ab nesciunt illum excepturi, praesentium sed, eaque ea laudantium quae totam tenetur non consequuntur asperiores corrupti error voluptate, a incidunt cum.</p>
        </div>
      </div>
      <div class="card-product row">
        <i class="fa-solid fa-person-breastfeeding col-2"></i>
        <div class="card-product-infos col-10">
          <h2>Close to mother</h2>
          <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nostrum ab nesciunt illum excepturi, praesentium sed, eaque ea laudantium quae totam tenetur non consequuntur asperiores corrupti error voluptate, a incidunt cum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
